<h1>Estadísticas de población</h1>
        <div>{{message}}</div>
        <div>
            <label for="">Ver</label>
            <input type="text" name="" ng-model="inputcountry"/>
            <button class="btn btn-primary" ng-click="vercountry()">Ver</button>
        </div>
        <div>
            <h2> </h2>
            <label for="">Ver recursos de </label>
            <input type="text" name="" ng-model="year1"/>
            <label for=""> hasta </label>
            <input type="text" name="" ng-model="year2"/>
            <button class="btn btn-primary" ng-click="ver()">Ver</button>
        </div>
        <div>
            
            <table class="table">
                
                <thead>
                    <tr>
                        
                        <th>País</th>
                        <th>Año</th>
                        <th>Población total</th>
                        <th>Población urbana</th>
                        <th>Acceso a la electricidad</th>
                        <th>Acción</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="stat in popstats">
                        
                       <td><a href="/ui/v1/populationstats/#!/edit/{{stat.country}}/{{stat.year}}">{{stat.country}}</a></td>
                       <td>{{stat.year}}</td>
                       <td>{{stat.totalpopulation}}</td>
                       <td>{{stat.urbanpopulation}}</td>
                       <td>{{stat.accesstoelectricity}}</td>
                       <td><button class="btn btn-danger" ng-click="delete(stat)">Borrar</button>
                       </td>
                    </tr>
                    
                    <tr>
                       <td>
                           <input type="text" ng-model="newPopStat.country" value="nuevo país" />
                       </td>
                       <td>
                           <input type="text" value="nueva año" ng-model="newPopStat.year"/>
                       </td>
                       <td>
                           <input type="text" value="población total" ng-model="newPopStat.totalpopulation"/>
                       </td>
                       <td>
                           <input type="text" value="población urbana" ng-model="newPopStat.urbanpopulation"/>
                       </td>
                       <td>
                           <input type="text" value="acceso a la electricidad" ng-model="newPopStat.accesstoelectricity"/>
                       </td>
                       <td><button class="btn btn-primary" ng-click="add()">Añadir</button></td>
                    </tr>
                </tbody>
                
            </table>
            
        </div>
        <div><button class="btn btn-danger" ng-click="deleteall()">Borrar todos los recursos</button></div>