<html ng-app="PostmanPopApp">
    <head>
        
        <title>MiniPostman</title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="js/minipostman-app.js"></script>
        <script src="js/main-ctrl.js"></script>
        
    </head>
    
    <body ng-controller="MainCtrl">
        
        <h1>Mini Postman for populationstats</h1>
        
        <div>
            <label>URL : <input type="text" class="form-control text-center" ng-model="url" name=""/></label>
            <button class="btn btn-primary" ng-click="send()">Send</button>
            <button class="btn btn-primary" ng-click="post()">Post</button>
            <button class="btn btn-primary" ng-click="put()">Put</button>
            <button class="btn btn-warning" ng-click="delete()">Delete</button>
        </div>
        <div ng-model="status">
            {{status}}
        </div>
        <div>
            <label>Body</label>
            <textarea type="textarea" class="form-control" name="inputdata" rows="5" ng-model="inputdata"></textarea>
        </div>
        <div>
            <label>Response</label>
            <textarea type="textarea" class="form-control" name="data" rows="20" ng-model="data"></textarea>
        </div>
        
    </body>
</html>